/* your code here */
footer{
	background-color : black;
}

.top{
	display :  flex;
	flex-wrap :  wrap;
	background-color :  black;
	justify-content :  space-between;
	align-contents :  center;
	padding :  15px 22px 10px
}
.logo-detail{
	display :  flex;
	
}
.logo_name{
	color :  white;
	font-size :  25px;
}
.media-icons{
	display :  flex;
}
.media-icons img {
	width :  25px;
	height :  25px;
	border-radius : 50%;
	padding : 7px;
}
.link-boxes{
	display :  flex;
	flex-wrap :  wrap;
	justify-content :  space-between;
	align-items :  center;
}
.links{
	display :  flex;
	flex-direction :  column;
}
.links a {
	text-decoration :  none;
	color :  #b3b3b3;
	margin-top : 10px;
}
.links span {
	color :  white;
	text-decoration :  underline;
	line-height: 1.5;
	padding :  0px;
}